---
import '@fontsource-variable/outfit';
import img1 from '../images/image-equilibrium.jpg';
import img2 from '../images/image-avatar.png';
import Part1 from './Part1.astro';
---

<div class="font-outfit text-pwhite">
    <Part1 title='Equilibrium #3429' 
    text='Our Equilibrium collection promotes balance and calm'
    number='0.041ETH' 
    days='3 days left'
    name='Jules Wyvern'
    imgcontent={img1.src}
    imgavatar={img2.src}/>
</div>
